.header {
    overflow: hidden;
    position: relative;
    background-image: url("./cover.jpg");
    background-size: cover;
    z-index: 0;
    min-height: 100vh;
}

.header::before {
    content: "";
    background-color: #000000;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
}

.header__top {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
}

.header__logo > span {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
}

.header__link > a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.header__link > a:hover {
    color: #fe4a49;
}

.header__content {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0;
}

.header__description {
    color: #ffffff;
    padding: 20px 0;
    font-size: 30px;
}

.header__button {
    padding: 20px 0;
}

.header__button > button {
    text-transform: uppercase;
    background-color: #fe4a49;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.header__button > button:hover {
    background-color: #ef3736;
}

@media(max-width: 768px) {
    .header {
        width: 100%;
        height: auto;
        min-height: unset;
    }
    .header__logo > span {
        color: #ffffff;
        font-weight: 700;
        font-size: 30px;
    }
}

@media(max-width: 640px) {
    .header__content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header__title {
        font-size: 24px;
        padding: 10px 0;
    }
    .header__description {
        font-size: 18px;
        padding: 10px 0;
    }
}

@media(max-width: 360px) {
    .header__link {
        margin-left: 50px;
    }
    /* .header__content {
        max-width: 90%; 
    } */
    .header__title {
        font-size: 20px;
    }
    .header__button > button {
        font-size: 12px;
        padding: 10px 20px;
    }
}